body {
	font-family: 'Open Sans', sans-serif;
	min-width: 720px;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

ul.tab li {float: left}

ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 24px 20px;
	text-decoration: none;
	font-size: 18px;
}

ul li a:hover {background-color: #ff9900}

#problem {
	display: none;
	margin-top: 20px;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	padding: 15px;
}

#problem * {
	margin-left: 20px;
}

#pcode {
	width: 90%;
	padding: 10px;
	margin: 20px;
	margin-left: 60px;
	background-color: black;
	color: white;
}

.func {
	overflow: hidden;
	margin-top: 20px;
	width: 440px;
	margin-left: 60px;
}

.func > p {
	float: left;
	margin-left: 20px;
	margin: 0;
	padding: 3px;
	height: 23px;
}

#func {
	float: right;
	width: 260px;
	padding: 3px;
	height: 23px;
}

#time {
	width: 100px;
	font-size: 16px;
	font-style: italic;
	margin-left: 30px;
}

.calc {
	overflow: hidden;
	margin-top: 35px;
	margin-bottom: 25px;
	width: 90%;
	min-width: 650px;
}

.calc * {
	float: right;
	margin: 0;
}

.calc p {
	padding: 16px 22px;
}

#res {
	min-height: 23px;
	text-align: right;
	margin-left: 0px;
	width: 210px;
	overflow: visible;
	background-color: black;
	color: white;
	border-radius: 12px;
}

#calc {
	float: left;
	display: inline-block;
	background-color: #ccc;
	padding: 16px 80px;
	text-decoration: none;
	color: black;
	border-radius: 5px;
	margin-left: 40px;
}

#calc:hover {
	background-color: #888;
}
