body {
	font-family: 'Open Sans', sans-serif;
	min-width: 1071px;
	margin: 8px;
}

.tab {
	background-color: rgba(255, 255, 255, 0);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nli, #euler {
	float: left;
}

.nli {	
	margin-left: 5px;
	background-color: #eaf5fa;
	border: 1px solid #c4e2ee;
}

#text > p { font-style: italic; }

.navb {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 18px 30px;
	text-decoration: none;
	font-size: 20px;
}

.hover {
	background-color: #c4e2ee;
	-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.1);
}

#problem {
	display: none;
	margin-top: 8px;
	background-color: #eaf5fa;
	border: 1px solid #10303c;
	padding: 15px;
}

#text {
	margin-left: 40px;
	margin-right: 40px;
}

#editor {
	position: relative;
	width: 95%;
	margin: 30px auto;
	height: 300px;
}

.func {
	overflow: hidden;
	margin-top: 20px;
	width: 480px;
	margin-left: 40px;
}

.func > p {
	float: left;
	margin-left: 20px;
	margin: 0;
	padding: 3px;
	padding-left: 5px;
	height: 23px;
}

#func {
	float: right;
	width: 300px;
	padding-left: 5px;
	height: 27px;
	font-size: 16px;
	border: 1px solid black;
	color: white;
	background-color: black; 
	border-radius: 3px;
	font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

#time {
	width: 100px;
	font-size: 16px;
	font-style: italic;
	margin-left: 49px;
}

.calc {
	overflow: hidden;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 25px;
	width: 90%;
	min-width: 840px;
	padding: 10px 5px;
}

.calc * {
	float: right;
	margin: 0;
}

.calc p { padding: 16px 22px; }

#res {
	min-height: 22px;
	text-align: right;
	margin-left: 0px;
	width: 210px;
	overflow: visible;
	background-color: #10303c;
	color: white;
	border-radius: 12px;
}

#calc, .sel {
	float: left;
	font-size: 19px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

#calc {
	padding: 14px 80px;
	margin-left: 0;
	border-radius: 5px;
}

#calc:hover { background-color: #10303c; }

.highlight, .active, #calc {
	background-color: #4ea6ca;
	color: white;
}

#calc, .active {
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.15);
 }

 .sel {
 	font-size: 16px;
 	border: 1px solid #4ea6ca;
 	border-collapse: collapse;
 	margin: 5px 0;
 	padding: 10px 0;
 	width: 100px;
 	text-align: center;
 }

 #resl {
 	padding-left: 38px;
 	padding-right: 14px; 
 }

 #js { border-right: none; }

 #rb { border-left: none; }